@model SurveyViewModel
@{
    int questionCounter = 1;
}
@{
    ViewData["Title"] = "Anket Cevapla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .firstpage {
            background-image: url('/admintemplate/img/23984.jpg');
            background-size: cover; /* Resmi kapsayacak şekilde boyutlandırın */
            background-repeat: no-repeat; /* Resmi yinelemeyi devre dışı bırakın */
        }

        .field-error {
            color: #dc3545; /* Kırmızı renk */
            font-size: 0.875rem; /* Küçük bir font boyutu */
        }

        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }

        .correct-answer {
            border: 3px solid #5ABF00;
            padding: 0px; /* İstenilen boşlukları ayarlayın */
            border-radius: 5px; /* Yuvarlatılmış kenarlar */
            margin: 0px 0; /* İstenilen marjinal boşlukları ayarlayın */
        }

        .wrong-answer {
            border: 3px solid red;
            padding: 0px; /* İstenilen boşlukları ayarlayın */
            border-radius: 5px; /* Yuvarlatılmış kenarlar */
            margin: 0px 0; /* İstenilen marjinal boşlukları ayarlayın */
        }

        .question-area {
            min-height: 450px;
        }

    </style>
}
<link href="~/css/pagedlist.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 page">
        <div class="card shadow border-left-warning">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">@Model.Title </h4>
            </div>
            <!-- Card Body -->
            <div class="card-body firstpage">
                <div class="chart-area">
                    <h4 style="text-align:center;font-weight:bold">Hoşgeldiniz</h4>
                    <h5 style="text-align:center;font-weight:bold">Ankete başlamak için Ad Soyad bilgilerinizi girmelisiniz.</h5>
                    <div class="row mx-5">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstname"
                                       class="form-label">Ad</label>
                                <input type="text" class="form-control"
                                       id="firstname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastname"
                                       class="form-label">Soyad</label>
                                <input type="text" class="form-control"
                                       id="lastname">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <a id="startsurvey" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-play"></i>
                                </span>
                                <span class="text">Ankete Başla</span>
                            </a>
                            <a href="/Survey/SurveyViewscore/@ViewBag.SurveyCode" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-chart-line"></i>
                                </span>
                                <span class="text">Skor Görüntüle</span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 page @("page-" + questionCounter)" style="display:none">
            <div class="card shadow question-area">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">@($"{questionCounter++}. soru")</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <h6 class="mx-4" style="font-weight:bold">@question.QuestionText </h6>
                    <ul class="mt-3" style="list-style-type: none;">
                        <form id="surveyForm">
                            @foreach (var option in question.QuestionOptions)
                            {
                            <li>
                                <div class="form-group m-0">
                                    <input type="radio" question-id="@question.Id" name="@($"question-{question.Id}")" value="@option.Id" id="@($"option-{option.Id}")">
                                    <label for="@($"option-{option.Id}")">@option.OptionText</label>
                                </div>
                            </li>
                            }
                        </form>
                    </ul>
                </div>
                <div class="col-md-12 finishsurvey" style="padding:10px; display:none">
                    <a class="btn btn-success float-right">Anketi Bitir</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 lastpage" style="display:none">
        <div class="card shadow border-left-warning">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">@Model.Title</h4>
            </div>
            <!-- Card Body -->
            <div class="card-body ">
                <div class="chart-area">
                    <h4 style="text-align:center;font-weight:bold">Tebrikler Anketi Başarıyla Tamamladınız !</h4>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 mt-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mr-2" style="font-size:20px">Doğru Sayısı :</div>
                                <span class="badge badge-success" id="correctAnswer" style="font-size:20px">5</span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mr-2" style="font-size:20px">Yanlış Sayısı :</div>
                                <span class="badge badge-danger" id="wrongAnswer" style="font-size:20px">5</span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mr-2" style="font-size:20px">Toplam Soru Sayısı :</div>
                                <span class="badge badge-primary" id="totalQuestionCount" style="font-size:20px">5</span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts{

    <script>
        var surveyResponseCount = @ViewBag.SurveyResponseCount;
        var userId = @ViewBag.UserId

        var correctAnswers = @Html.Raw(Json.Serialize(Model.CorrectAnswers));
        var questionCount = @Model.Questions.Count;
        var surveyId = @ViewBag.SurveyId;
        $(function () {

            $("#surveyForm")[0].reset();
            var selectedOptions = [];
            var surveyResponse = {
                SurveyId: "",
                FirstName: "",
                LastName: "",
                SurveyCode: "",
                Answers: []
            };
            var currentPage = 1;

            $(".finishsurvey").click(function () {
                if (userId == 0 && surveyResponseCount==5){
                    toastr.error('Anket kontenjanı dolu!');
                    return false;
                }
                surveyResponse.SurveyId = surveyId;
                $.ajax({
                    type: "POST",
                    url: "/Survey/SurveyResponse",
                    contentType: "application/json",
                    data: JSON.stringify(surveyResponse),
                    success: function (response) {
                        if (response.isSuccess) {
                            var correctCount = 0;
                            var wrongCount = 0;

                            surveyResponse.Answers.forEach(function (responseAnswer) {
                                var matchingCorrectAnswer = correctAnswers.find(function (correct) {
                                    return correct.questionId === responseAnswer.questionId &&
                                        correct.questionOptionId === responseAnswer.questionOptionId;
                                });

                                if (matchingCorrectAnswer) {
                                    correctCount++;
                                } else {
                                    wrongCount++;
                                }
                            });
                            $(".page").hide();
                            $(".lastpage").show();
                            $("#correctAnswer").text(correctCount);
                            $("#wrongAnswer").text(wrongCount);
                            $("#totalQuestionCount").text(correctCount + wrongCount);

                        }

                    },
                    error: function (error) {
                        // Hata oluştuğunda burası çalışır
                        console.error(error);
                    }
                });
            });

            // Sayfa geçiş fonksiyonu
            function goToPage(pageNumber) {
                // Tüm sayfaları gizle
                $(".page").hide();

                // Belirli sayfayı göster
                $(".page-" + pageNumber).show();

                // Sayfa numarasını güncelle
                currentPage = pageNumber;

            }


            $("#startsurvey").click(function () {
                var FirstName = $("#firstname").val().trim();
                var LastName = $("#lastname").val().trim();
                if (FirstName == "") {
                    toastr.error('Ad bilgisi boş geçilemez !');
                    return false;
                }
                if (LastName == "") {
                    toastr.error('Soyad bilgisi boş geçilemez !');
                    return false;
                }
                goToPage(1);
                var currentURL = window.location.href;

                var parts = currentURL.split("/");

                var SurveyCode = parts[parts.length - 1];
                surveyResponse.FirstName = FirstName;
                surveyResponse.LastName = LastName;
                surveyResponse.SurveyCode = SurveyCode;
            });


            $("input[type='radio']").change(function () {
                var questionId = $(this).attr("question-id");
                var optionId = $(this).val();

                selectedOptions.push({
                    questionId: parseInt(questionId),
                    questionOptionId: parseInt(optionId)
                });

                surveyResponse.Answers = selectedOptions;
                console.log(surveyResponse);
                var optionName = "question-" + questionId;

                $("input[type='radio'][name='" + optionName + "']").prop("disabled", true);
                var correctanswer = correctAnswers.find(function (answer) {
                    return answer.questionId == questionId;
                });

                var $selectedRadio = $("input[type='radio'][question-id='" + correctanswer.questionId + "'][name='question-" + correctanswer.questionId + "'][value='" + correctanswer.questionOptionId + "']");

                // Kullanıcının seçtiği radio düğmesi ile correctanswer ile belirlediğiniz farklı ise "wrong-answer" sınıfını ekle
                if (!$(this).is($selectedRadio)) {
                    $(this).closest("li").addClass("wrong-answer");
                } else {
                    $(this).closest("li").removeClass("wrong-answer");
                }

                // Doğru cevabı işaretle
                $selectedRadio.closest("li").addClass("correct-answer")
                setTimeout(function () {
                    if (currentPage < questionCount) {
                        goToPage(currentPage + 1);

                    } else {

                        $(".finishsurvey").css("display", "block");


                    }
                }, 2000);


            });
            console.log(correctAnswers);
        });
    </script>
}